body{
    background: #185c11;
background: linear-gradient(0deg, rgba(24, 92, 17, 1) 0%, rgba(69, 90, 196, 1) 100%);
    color: white;
    font-size: 48px;
    height: 100vh;
}

.cabecalho{
    background-image: url('./img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 150px;
    background-position-y: 300px;
    height: 300px;
}

.cabecalho-img{
    width: 20%;
}

